/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF; /* Default background color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation styles */
.navbar {
    background-color: #007BFF; /* Navbar background color */
}

.navbar-brand {
    color: #FFF; /* Navbar brand text color */
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #FFF; /* Navbar link text color */
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

/* Header styles */
header {
    margin-bottom: 20px;
}

.hero-image {
    position: relative;
    height: 300px;
    background-image: url('./static/images/pokemon-background.jpg'); /* Replace with your image path */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF; /* Text color for hero text */
    text-align: center;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
}

/* Table styles */
.table {
    margin-bottom: 20px;
}

.table thead {
    background-color: #007BFF; /* Table header background color */
    color: #FFF; /* Table header text color */
}

.table th {
    font-weight: bold;
}

/* Footer styles */
footer {
    background-color: #333; /* Footer background color */
    color: #FFF; /* Footer text color */
    padding: 20px 0;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 24px;
    }
}

.flag-container {
    max-width: 540px;
    margin: 0 auto; 
}

.flag-image {
    width: 100%;
    height: auto;
}
